.nested-nav
{
    background-color: orange;
    padding: 10px;

    a
    {
        text-decoration: none;
        color: black;
        margin-left: 100px;
    }

    .active
    {
        color: green;
        text-decoration: underline;
    }
}